* {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
  -webkit-text-size-adjust: 100%; /* Prevenção para iOS */
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  color: #FFF;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased; /* Melhora renderização em WebKit */
  -moz-osx-font-smoothing: grayscale; /* Firefox macOS */
  font-size: 16px;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent; /* Remove highlight em mobile */
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

:focus {
  outline: 0; /* Remove outline padrão */
  -webkit-tap-highlight-color: transparent;
}

img {
  -webkit-user-drag: none; /* Previne drag de imagens no WebKit */
  /* biome-ignore lint/correctness/noUnknownProperty: <explanation> */
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}